body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 10px;
  background-color: rgb(2, 21, 57);
  height: 400px;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgb(118, 96, 96);
}
.container_cells {
  height: 300px;
  width: 270px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  /* background: radial-gradient(circle at 80%, rgb(245, 240, 240), rgb(2, 15, 35)); */
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 20px;
}

.cell {
  border-radius: 5px;
  font-family: neucha;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  box-shadow: inset -4px -4px 5px white, inset 2px 2px 5px rgb(185, 185, 185), -1px 0px 3px rgb(120, 105, 105), 1px 1px 4px rgb(219, 203, 203);
  font-size: 34px;
  opacity: 0.7;
  transition: opacity 0.7s ease-in;
  color: white;
}

.blue {
  background: radial-gradient(rgb(113, 106, 227), rgb(51, 48, 109));
  box-shadow: 1px 1px 4px rgb(0, 0, 0) inset;
}
.red {
  background: radial-gradient(rgb(201, 96, 96), rgb(137, 17, 17));

  box-shadow: 1px 1px 4px rgb(0, 0, 0) inset;
}

.reload {
  border-radius: 5px;
  font-family: oswald;
  height: 50px;
  width: 90px;
  background-color: transparent;
  font-size: 14px;
  color: white;
  text-shadow: 0px 0px 10px rgb(61, 154, 230), 0px 0px 40px rgb(61, 154, 230), 0px 0px 80px rgb(176, 206, 231), 0px 0px 100px rgb(130, 188, 236);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px blue solid;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
}

/* .test{
  height: 300px;
}
.cube{
  width: 100px;
  height: 100px;
  background-color: blue;
}

.trigger{
  height: 100px;
  width: 100px;
  background-color:red;
}

.recule{
  translate:235px;
  background-color: red;
} */
